<!doctype html>
{% load static %}
<html lang="en" class="">
<head>
    {% include 'headers.html' %}
    {% block stylesheets %}
    {% endblock stylesheets %}
</head>
<body>
{#<nav class="navigation">#}
{#    <div class="row" style="width:100%;">#}
{#        <div class="col-sm-2 col-md-4 col-lg-3">#}
{#            <a href=""#}
{#               style="text-decoration:none;color:var(--tint-color);font-family: var(--teko)">#}
{#                <h4>AI Writer</h4></a>#}
{##}
{#        </div>#}
{##}
{#        <div class="col-sm-10 col-md-4 col-lg-6" style="display: flex; align-items: center; justify-content: center">#}
{##}
{#        </div>#}
{##}
{#        <div class="col-sm-12 col-md-4 col-lg-3">#}
{#            <div class="actions">#}
{#                actions#}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
{#</nav>#}
<div class="contents" style="height:calc(100vh);overflow:hidden">
    <div class="row h-full">
        <div class="col-sm-2 col-md-4 col-lg-2"
             style="background-color: var(--card-background-color); border-right:1px solid var(--shadow);">
            <div class="">
                <a href="/">
                    <img src="{% static "logo.png" %}" alt="">
                </a>
                <br>
                <h3 class="teko px-4">
                    AI Writer
                </h3>
            </div>
            <div class="nav flex-column nav-pills p-4" id="v-pills-tab" role="tablist" aria-orientation="vertical"
                 style="gap:10px;">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Home</a>
                <a class="nav-link" id="v-pills-essay_writing-tab" data-toggle="pill" href="#v-pills-essay_writing"
                   role="tab"
                   aria-controls="v-pills-essay_writing" aria-selected="false">Essay Writing</a>
                <a class="nav-link" id="v-pills-paraphrase-tab" data-toggle="pill" href="#v-pills-paraphrase" role="tab"
                   aria-controls="v-pills-messages" aria-selected="false">Paraphrase</a>
                <a class="nav-link" id="v-pills-text_completion-tab" data-toggle="pill" href="#v-pills-text_completion" role="tab"
                   aria-controls="v-pills-messages" aria-selected="false">Text Completion</a>
                <a class="nav-link" id="v-pills-generate_images-tab" data-toggle="pill" href="#v-pills-generate_images"
                    role="tab"
                   aria-controls="v-pills-settings" aria-selected="false">Generate Images</a>
            </div>

        </div>
        <div class="col-sm-10 col-md-4 col-lg-5"
             style="position:relative; height: calc(100vh); overflow-y: auto;margin:0;padding:0;">
            {% include 'containers/loader.html' %}
            {% include 'components/tab_contents.html' %}
            {% block content %}
            {% endblock content %}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-5"
             style="margin:0;padding:0;background-color: var(--card-background-color);overflow:hidden; height:100vh;">
            {#    <div>#}
            {% if blog_form %}
                {% include 'pages/create_blog.html' with form=blog_form update=update %}
            {% endif %}
        </div>

    </div>


</div>

</body>
</html>