{% block main %}
    <div class="generator" style="background-color:var(--shadow);height:100%;">
        <div class="response">
            <div class="p-4" style="background-color:var(--card-background-color)">
                {% if prompt %}
                    {{ prompt }}
                {% endif %}
            </div>
            <div class="p-4">
                {% block response %}
                {% endblock response %}
            </div>


        </div>
        <div class="col-sm-10 col-md-4 col-lg-6" style="position:fixed; bottom:0;">
            <form onsubmit="" id="{{ id }}_form" method="post" style="padding:20px;">
                {% csrf_token %}
                <div style="display:flex; align-items: center;gap:20px;">
                    {% if show_language_select %}
                        <div class="" style="flex-shrink: 0">
                            <select id="{{ id }}_language" name="{{ id }}_language">
                                <option value="english">English</option>
                                <option value="nepali">Nepali</option>
                            </select>
                        </div>
                    {% endif %}
                    <div style="flex-grow: 1">
                        <input placeholder="{{ input_placeholder }}" class="" id="{{ id }}_question"
                               name="{{ id }}_question">
                    </div>

                    <div>
                        <button type="submit" style="border-radius:10px;" class="btn btn-primary"><i
                                class="fa fa-paper-plane"></i></button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <script>

        $("#{{ id }}_form").submit(function (e) {
            e.preventDefault();
            var url =
            {{ request_url }}  // get the url
            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request
                type: "POST",
                data: {
                    language:$('#{{ id }}_language :selected').text(),
                    question:$('#{{ id }}_question').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (data) {// `data` is the return of the  view function
                    if (data['answer']) {
                        $("#{{ id }}_answer").html(data['answer']);  // replace the contents of the input with the data that came from the server

                    } else {
                        $("#{{ id }}_answer").html(data);  // for image generator
                    }
                }
            });

        });

    </script>
{% endblock main %}