{% block main %}
    <div class="generator"
         style="border-radius:20px;height:100%;">
        <div class="response"
             style="height: calc(100vh - 2 * var(--top-navigation-height) - 20px);">
            {#            <div class="p-4" style="background-color:var(--card-background-color)">#}
            {#                {% if prompt %}#}
            {#                    {{ prompt }}#}
            {#                {% endif %}#}
            {#            </div>#}
            <div class="empty_response_view" id="empty_view">
                {% block empty_view %}
                {% endblock empty_view %}
            </div>
            <div class="p-4" id="response" style="padding-bottom: 200px !important;">
                {% block response %}
                {% endblock response %}
                <button class="btn btn-primary send_to_editor_button" id="{{ id }}_send_to_editor_button" type="button">Send to editor</button>
            </div>

        </div>
        <style>
            .send_to_editor_button {
                position: fixed;
                bottom: 120px;
                display: none;

                border-radius: 100px;
                height: 45px;
                padding: 0px 30px;

                box-shadow: 10px 20px 20px var(--shadow);
            }
        </style>
        <div class=""
             style="position:fixed;bottom:20px;background-color: var(--card-background-color);border-radius:200px;box-shadow:20px 20px 20px var(--shadow); min-width:600px;">
            <form onsubmit="" id="{{ id }}_form" method="post" style="padding:20px;">
                {% csrf_token %}
                <div style="display:flex; align-items: center;gap:20px;">
                    {% if show_language_select %}
                        <div class="" style="flex-shrink: 0">
                            <select id="{{ id }}_language" name="{{ id }}_language">
                                <option value="english">English</option>
                                <option value="nepali">Nepali</option>
                            </select>
                        </div>
                    {% endif %}
                    <div style="flex-grow: 1">
                        <input placeholder="{{ input_placeholder }}" class="" id="{{ id }}_question"
                               name="{{ id }}_question">
                    </div>

                    <div>
                        <button type="submit" style="border-radius:10px;border:none; background-color: var(--primary);"
                                class="btn btn-primary"><i
                                class="fa fa-paper-plane"></i></button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <script>
        $("#{{ id }}_form").submit(function (e) {
            const loader = document.getElementById('loader')
            const response = document.getElementById('response')
            const send_to_editor_button = document.getElementById('{{ id }}_send_to_editor_button')
            const empty_view = document.getElementById('empty_view')

            e.preventDefault();
            loader.style.display = 'block';
            response.style.display = 'none';
            send_to_editor_button.style.display = 'none';
            empty_view.style.display = 'none';

            var url =
                {{ request_url }}  // get the url
                $.ajax({                       // initialize an AJAX request
                    url: url,                    // set the url of the request
                    type: "POST",
                    data: {
                        language: $('#{{ id }}_language :selected').text(),
                        question: $('#{{ id }}_question').val(),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data) {// `data` is the return of the  view function
                        loader.style.display = 'none';
                        response.style.display = 'block';
                        send_to_editor_button.style.display = 'block';
                        if (data['answer']) {
                            $("#{{ id }}_answer").html(data['answer']);  // replace the contents of the input with the data that came from the server
                        } else {
                            $("#{{ id }}_answer").html(data);  // for image generator
                        }
                    }
                });

        });


        sendToEditorButton = document.querySelector('#{{ id }}_send_to_editor_button');

        sendToEditorButton.addEventListener('click', (e) => {
            const generated_content = e.target.parentElement.children[0].innerHTML;
            if (generated_content) {
                CKEDITOR.instances['id_content'].insertHtml(generated_content);
            } else {
                const generated_image = e.target.parentElement.children[0].innerHTML;
                CKEDITOR.instances['id_content'].insertHtml(generated_content);
            }

        })
    </script>
{% endblock main %}