{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
             aria-labelledby="v-pills-home-tab">adfasdfasdf asdfasd
        </div>
        <div class="tab-pane fade show" id="v-pills-essay_writing" role="tabpanel"
             aria-labelledby="v-pills-essay_writing-tab">
            {% include 'containers/essay_writing.html' %}
        </div>
        <div class="tab-pane fade show" id="v-pills-paraphrase" role="tabpanel"
             aria-labelledby="v-pills-paraphrase-tab">Paraphrase
        </div>
    </div>
{% endblock %}
