{% extends 'generator.html' %}
{#{% load custom_template_tags %}#}
{% block main %}
    {% url 'essay_writing' as essay_writing_url %}
    {% with  request_url=essay_writing_url input_placeholder="Write your content topic here ..." show_language_select=True id='essay_writing' %}
        {{ block.super }}
    {% endwith %}

{% endblock main %}
{% block response %}
{#    {% if answer %}#}
        <div class="" id="essay_writing_answer" name="essay_writing_answer"
             style="width:100%;height:auto;overflow:auto; text-align: justify">{{ answer }}</div>
{#    {% endif %}#}
{% endblock response %}