{% extends 'generator.html' %}
{#{% load custom_template_tags %}#}
{% block main %}
    {% url 'generate_images' as url %}
    {% with  request_url=url input_placeholder="Give a topic to generate image on ..." show_language_select=True id='generate_images' %}
        {{ block.super }}
    {% endwith %}
{% endblock main %}
{% block response %}
    <div class="" id="generate_images_answer" name="generate_images_answer"
         style="width:100%;height:auto;overflow:auto; text-align: justify"></div>
{% endblock response %}
{#{% block empty_view %}#}
{#    {% include 'containers/typewriter_effect.html' %}#}
{##}
{#{% endblock empty_view %}#}